/* .body {
    width: 1159px;
    background: #D9D9D9;
    padding: 30px;
}
.box{
    width: 1082px;
    height: 333px;
    margin-bottom: 30px;
}
.box__red {
    background: #FC0F0F;;
}
.box__blu {
    background: #0F18FC;
}
.box__green {
    background: #0FFC43;
}
.image{
    width: 1082px;
    height: 468px;
} */


.container{
    max-width: 936px;
    margin: 0px auto;
    padding: 0px 16px;
}
.portfolio {
    background: #F5F5F5;
    padding-top: 112px;
    padding-bottom: 96px;
}
.portfolio__title{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 64px;
}

.portfolio__img {
    width: 936.24px;
    height: 510px;
    margin-bottom: 44px;
}
.portfolio__text{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-bottom: 99px;
}

/* reebok */
.reebok {
    background: #F6F6F6;
    padding-bottom: 90px;
}
.reebok__img {
    width: 936.24px;
    height: 522px;
}
.reebok__text{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-top: 41px;

}
/* braun */
.braun {
    background: #F6F6F6;
    padding-bottom: 560px ;
}

.braun__img {
    width: 936.24px;
    height: 522px;
}
.braun__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-top: 45px;
}

/* footer */
.footer__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #828282;
}
